#game-layout {
  display: grid;

  height: 100%;
  width: 100%;
  
  grid-template: ". rhythm-tiles ." 1fr
                 "player-sprite rhythm-tiles enemy" 1fr
                 "player-sprite lines enemy" 1fr
                 "player-life lines enemy-life" 1fr
                 / 1fr 2fr 1fr;

}

.rhythm-tiles {
  padding: 2%;
  
  background-color: rgb(0, 255, 0, 0.3);
  grid-area: rhythm-tiles;
}

.player-sprite {
  background-color: rgb(255, 0, 0, 0.3);
  grid-area: player-sprite;
}

.player-life {
  background-color: rgb(255, 0, 255, 0.3);
  grid-area: player-life;
}

.enemy {
  background-color: rgb(0, 255, 255, 0.3);
  grid-area: enemy;
}

.enemy-life {
  background-color: rgb(255, 0, 255, 0.3);
  grid-area: enemy-life;
}

.lines {
  padding-top: 10%;
  
  background-color: rgb(0, 0, 255, 0.3);
  grid-area: lines;
}