#game-layout {
  display: grid;

  height: 100%;
  width: 90%;
  margin: auto;

  grid-template: ". rhythm-sequence ." 1fr
                 "player-sprite rhythm-sequence enemy-sprite" 1fr
                 "player-sprite power-lines enemy-sprite" 1fr
                 "player-life power-lines enemy-life" 1fr
                 / 1fr 2fr 1fr;

}

.rhythm-sequence {
  padding-top: 5%;
  
  /* background-color: rgb(0, 255, 0, 0.3); */
  grid-area: rhythm-sequence;
}

.player-sprite {
  /* background-color: rgb(255, 0, 0, 0.3); */
  grid-area: player-sprite;
}

.player-life {
  /* background-color: rgb(255, 0, 255, 0.3); */
  grid-area: player-life;
}

.enemy-sprite {
  /* background-color: rgb(0, 255, 255, 0.3); */
  grid-area: enemy-sprite;
}

.enemy-life {
  /* background-color: rgb(255, 0, 255, 0.3); */
  grid-area: enemy-life;
}

.power-lines {
  padding-top: 10%;
  
  /* background-color: rgb(0, 0, 255, 0.3); */
  grid-area: power-lines;
}